current/*.pdf
current/*.log
current/*.gz
current/*.aux
current/cover_VALLE.tex
spanish/*.pdf
spanish/*.log
spanish/*.gz
spanish/*.aux
template/*
release-pdf/*
sample-pdf/*
cv-release-pdf/*
cv-sample-pdf/*
*/*.out
